body{
    background-color: lightblue;
}/*set background colour of the whole page to light blue*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0072bb;
    color: white;
}
h1 {
    display: inline-block;
    font-size: 48px;
}
header nav {
    padding-top: 25px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}/*styles header and nav links so they all appear in one line with the nav on the right*/
a {
    color: #ffffff;
    text-decoration: none;
}
nav a:hover {
    color: black;
}/*when nav links hoves the appear black*/



#about-me {
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.float-left {
    float: left;
    margin-right: 25px;
    width: auto;
    height: 200px;
}/*styling create me section so my id image is on the left with the conent anout me on the right next to it*/

.header3 {
    display: inline-block;
    font-size: 100px;
    padding: 0px 10px 0px 10px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.images{
    display: flex;
} 
.container {
    position: relative;
    width: 100%;
}
  
.image1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container:hover .image1 {
    opacity: 0.3;
}
/*i have basically done this for all 3 images it styles them so when they are hovered the opacity changes*/
.container2 {
    position: relative;
    width: 50%;
}
  
.image2 {
    opacity: 1;
    display: block;
    width: 100%;
    height: 500px;
    transition: .5s ease;
    backface-visibility: hidden;
    float:right
}

.container2:hover .image2 {
    opacity: 0.3;
}
.container3 {
    position: relative;
    width: 50%;
}
  
.image3 {
    opacity: 1;
    display: block;
    width: 100%;
    height: 500px;
    transition: .5s ease;
    backface-visibility: hidden;
    float:right
}

.container3:hover .image3 {
    opacity: 0.3;
}


footer {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0072bb;
    color: white;
}
h4 {
    display: inline-block;
    font-size: 48px;
}
footer ul{
    padding-top: 25px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
footer ul li {
    display: inline-block;
    margin-left: 25px;
}/*styles footer to similar to how i syled the header*/

@media screen and (max-width: 840px) {
    header nav{
        float: none;
      }
    .container{
        float: none;
    }
    footer ul{
        float:none
    }

}/*when the screen size is smaller than 840 it will put the text on the right not on the right*/
